**Python CSV File Reading and Writing**

1. Write a Python program to read each row from a given csv file and print a list of strings.

In [ ]:
import csv
with open('/content/sample_data/departments.csv', newline='') as csvfile:
 data = csv.reader(csvfile, delimiter=' ', quotechar='|')
 for row in data:
   print(', '.join(row))

department_id,, department_name,, , manager_id,, , location_id
10,, Administration,, 200,, 1700
20,, Marketing,, 201,, 1800
30,, Purchasing,, 114,, 1700
40,, Human, Resources,, 203,, 2400
50,, Shipping,, 121,, 1500
60,, IT,, 103,, 1400
70,, Public, Relations,, 204,, 2700
80,, Sales,, 145,, 2500

2. Write a Python program to read a given CSV file having tab delimiter.

In [ ]:
import csv
with open('/content/sample_data/countries.csv', newline='') as csvfile:
 data = csv.reader(csvfile, delimiter = '\t')
 for row in data:
   print(', '.join(row))

country_id country_name region_id
AR Argentina 2
AU Australia 3
BE Belgium 1
BR Brazil 2
CA Canada 2
CH Switzerland 1
CN China 3
DE Germany 1
DK Denmark 1
EG Egypt 4
FR France 1
HK HongKong 3
IL Israel 4
IN India 3
IT Italy 1
JP Japan 3
KW Kuwait 4
MX Mexico 2
NG Nigeria 4
N Netherlands 1
SG Singapore 3
UK United Kingdom 1
US United States of America 2
ZM Zambia 4
ZW Zimbabwe 4

3. Write a Python program to read a given CSV file as a list.

In [ ]:
import csv
with open('/content/sample_data/employees.csv', newline='') as file:
   reader = csv.reader(file)
   list = list(reader)
print(list)

[['employ_id', 'first_name', 'last_name', 'email', 'phone_number', 'hire_date', 'job_id', 'salary', 'commission_pct', 'manager_id', 'department_id'], ['100', 'Steven', 'King', 'SKING', '515.123.4567', '1987-06-17', 'AD_PRES', '24000', '', '', '90'], ['101', 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', '1987-06-18', 'AD_VP', '17000', '', '100', '90'], ['102', 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', '1987-06-19', 'AD_VP', '17000', '', '100', '90'], ['103', 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', '1987-06-20', 'IT_PROG', '9000', '', '102', '60'], ['104', 'Bruce', 'Ernst', 'BERNST', '590.423.4568', '1987-06-21', 'IT_PROG', '6000', '', '103', '60'], ['105', 'David', 'Austin', 'DAUSTIN', '590.423.4569', '1987-06-22', 'IT_PROG', '4800', '', '103', '60'], ['106', 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', '1987-06-23', 'IT_PROG', '4800', '', '103', '60'], ['107', 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', '1987-06-24', 'IT_PROG', '4200', '', '103', '60'], ['108', 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', '1987-06-25', 'FI_MGR', '12000', '', '101', '100'], ['109', 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', '1987-06-26', 'FI_ACCOUNT', '9000', '', '108', '100'], ['110', 'John', 'Chen', 'JCHEN', '515.124.4269', '1987-06-27', 'FI_ACCOUNT', '8200', '', '108', '100'], ['111', 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369', '1987-06-28', 'FI_ACCOUNT', '7700', '', '108', '100'], ['112', 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469', '1987-06-29', 'FI_ACCOUNT', '7800', '', '108', '100'], ['113', 'Luis', 'Popp', 'LPOPP', '515.124.4567', '1987-06-30', 'FI_ACCOUNT', '6900', '', '108', '100'], ['114', 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', '1987-07-01', 'PU_MAN', '11000', '', '100', '30'], ['115', 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', '1987-07-02', 'PU_CLERK', '3100', '', '114', '30'], ['116', 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', '1987-07-03', 'PU_CLERK', '2900', '', '114', '30'], ['117', 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', '1987-07-04', 'PU_CLERK', '2800', '', '114', '30'], ['118', 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', '1987-07-05', 'PU_CLERK', '2600', '', '114', '30'], ['119', 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566', '1987-07-06', 'PU_CLERK', '2500', '', '114', '30'], ['120', 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', '1987-07-07', 'ST_MAN', '8000', '', '100', '50'], ['121', 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', '1987-07-08', 'ST_MAN', '8200', '', '100', '50'], ['122', 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', '1987-07-09', 'ST_MAN', '7900', '', '100', '50'], ['123', 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', '1987-07-10', 'ST_MAN', '6500', '', '100', '50'], ['124', 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', '1987-07-11', 'ST_MAN', '5800', '', '100', '50'], ['125', 'Julia', 'Nayer', 'JNAYER', '650.124.1214', '1987-07-12', 'ST_CLERK', '3200', '', '120', '50'], ['126', 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', '1987-07-13', 'ST_CLERK', '2700', '', '120', '50'], ['127', 'James', 'Landry', 'JLANDRY', '650.124.1334', '1987-07-14', 'ST_CLERK', '2400', '', '120', '50'], ['128', 'Steven', 'Markle', 'SMARKLE', '650.124.1434', '1987-07-15', 'ST_CLERK', '2200', '', '120', '50'], ['129', 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', '1987-07-16', 'ST_CLERK', '3300', '', '121', '50'], ['130', 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', '1987-07-17', 'ST_CLERK', '2800', '', '121', '50'], ['131', 'James', 'Marlow', 'JAMRLOW', '650.124.7234', '1987-07-18', 'ST_CLERK', '2500', '', '121', '50'], ['132', 'TJ', 'Olson', 'TJOLSON', '650.124.8234', '1987-07-19', 'ST_CLERK', '2100', '', '121', '50'], ['133', 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', '1987-07-20', 'ST_CLERK', '3300', '', '122', '50'], ['134', 'Michael', 'Rogers', 'MROGERS', '650.127.1834', '1987-07-21', 'ST_CLERK', '2900', '', '122', '50'], ['135', 'Ki', 'Gee', 'KGEE', '650.127.1734', '1987-07-22', 'ST_CLERK', '2400', '', '122', '50'], ['136', 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', '1987-07-23', 'ST_CLERK', '2200', '', '122', '50'], ['137', 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', '1987-07-24', 'ST_CLERK', '3600', '', '123', '50'], ['138', 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', '1987-07-25', 'ST_CLERK', '3200', '', '123', '50'], ['139', 'John', 'Seo', 'JSEO', '650.121.2019', '1987-07-26', 'ST_CLERK', '2700', '', '123', '50'], ['140', 'Joshua', 'Patel', 'JPATEL', '650.121.1834', '1987-07-27', 'ST_CLERK', '2500', '', '123', '50'], ['141', 'Trenna', 'Rajs', 'TRAJS', '650.121.8009', '1987-07-28', 'ST_CLERK', '3500', '', '124', '50'], ['142', 'Curtis', 'Davies', 'CDAVIES', '650.121.2994', '1987-07-29', 'ST_CLERK', '3100', '', '124', '50'], ['143', 'Randall', 'Matos', 'RMATOS', '650.121.2874', '1987-07-30', 'ST_CLERK', '2600', '', '124', '50'], ['144', 'Peter', 'Vargas', 'PVARGAS', '650.121.2004', '1987-07-31', 'ST_CLERK', '2500', '', '124', '50'], ['145', 'John', 'Russell', 'JRUSSEL', '011.44.1344.429268', '1987-08-01', 'SA_MAN', '14000', '0.4', '100', '80'], ['146', 'Karen', 'Partners', 'KPARTNER', '011.44.1344.467268', '1987-08-02', 'SA_MAN', '13500', '0.3', '100', '80'], ['147', 'Alberto', 'Errazuriz', 'AERRAZUR', '011.44.1344.429278', '1987-08-03', 'SA_MAN', '12000', '0.3', '100', '80'], ['148', 'Gerald', 'Cambrault', 'GCAMBRAU', '011.44.1344.619268', '1987-08-04', 'SA_MAN', '11000', '0.3', '100', '80'], ['149', 'Eleni', 'Zlotkey', 'EZLOTKEY', '011.44.1344.429018', '1987-08-05', 'SA_MAN', '10500', '0.2', '100', '80'], ['150', 'Peter', 'Tucker', 'PTUCKER', '011.44.1344.129268', '1987-08-06', 'SA_REP', '10000', '0.3', '145', '80']]

4. Write a Python program to read a given CSV file as a dictionary.

In [ ]:
import csv
our_data = csv.DictReader(open('/content/sample_data/departments.csv'))
for row in our_data:
   print(row)

{'department_id': '10', ' department_name': ' Administration', '  manager_id': ' 200', '  location_id': ' 1700'}
{'department_id': '20', ' department_name': ' Marketing', '  manager_id': ' 201', '  location_id': ' 1800'}
{'department_id': '30', ' department_name': ' Purchasing', '  manager_id': ' 114', '  location_id': ' 1700'}
{'department_id': '40', ' department_name': ' Human Resources', '  manager_id': ' 203', '  location_id': ' 2400'}
{'department_id': '50', ' department_name': ' Shipping', '  manager_id': ' 121', '  location_id': ' 1500'}
{'department_id': '60', ' department_name': ' IT', '  manager_id': ' 103', '  location_id': ' 1400'}
{'department_id': '70', ' department_name': ' Public Relations', '  manager_id': ' 204', '  location_id': ' 2700'}
{'department_id': '80', ' department_name': ' Sales', '  manager_id': ' 145', '  location_id': ' 2500'}

5. Write a Python program to read a given CSV files with initial spaces after a delimiter and remove those initial spaces.

In [ ]:
import csv
with open('/content/sample_data/departments.csv', 'r') as csvfile:
   data = csv.reader(csvfile, skipinitialspace=False)
   for row in data:
     print(', '.join(row))
print("\nwithout spaces: ")
with open('/content/sample_data/departments.csv', 'r') as csvfile: #without spaces
   data = csv.reader(csvfile, skipinitialspace=True)
   for row in data:
     print(', '.join(row))

department_id,  department_name,   manager_id,   location_id
10,  Administration,  200,  1700
20,  Marketing,  201,  1800
30,  Purchasing,  114,  1700
40,  Human Resources,  203,  2400
50,  Shipping,  121,  1500
60,  IT,  103,  1400
70,  Public Relations,  204,  2700
80,  Sales,  145,  2500

without spaces:
department_id, department_name, manager_id, location_id
10, Administration, 200, 1700
20, Marketing, 201, 1800
30, Purchasing, 114, 1700
40, Human Resources, 203, 2400
50, Shipping, 121, 1500
60, IT, 103, 1400
70, Public Relations, 204, 2700
80, Sales, 145, 2500

6. Write a Python program that reads a CSV file and remove initial spaces, quotes around each entry and the delimiter.

In [ ]:
import csv
with open('/content/sample_data/departments.csv', 'r') as csvfile: #without spaces
   data = csv.reader(csvfile, skipinitialspace=True, delimiter='|', quoting=csv.QUOTE_ALL)
   for row in data:
     print(', '.join(row))

department_id, department_name,  manager_id,  location_id
10, Administration, 200, 1700
20, Marketing, 201, 1800
30, Purchasing, 114, 1700
40, Human Resources, 203, 2400
50, Shipping, 121, 1500
60, IT, 103, 1400
70, Public Relations, 204, 2700
80, Sales, 145, 2500

7. Write a Python program to read specific columns of a given CSV file and print the content of the columns.

In [ ]:
import csv
with open('/content/sample_data/departments.csv', 'r') as csvfile:
  data = csv.reader(csvfile)
  for row in data:
   print(row['department_id'], row[department_name])

TypeError: list indices must be integers or slices, not str

8. Write a Python program that reads each row of a given csv file and skip the header of the file. Also print the number of rows and the field names.

In [ ]:
import csv
fields = []
rows = []
with open('/content/sample_data/departments.csv', newline='') as csvfile:
 data = csv.reader(csvfile, delimiter=' ', quotechar=',')
 fields = next(data)
 for row in data:
   print(', '.join(row))
print("\nnumber of rows: %d"%(data.line_num))
print('field names:')
print(', '.join(field for field in fields))

10,, Administration,, 200,, 1700
20,, Marketing,, 201,, 1800
30,, Purchasing,, 114,, 1700
40,, Human, Resources,, 203,, 2400
50,, Shipping,, 121,, 1500
60,, IT,, 103,, 1400
70,, Public, Relations,, 204,, 2700
80,, Sales,, 145,, 2500

number of rows: 9
field names:
department_id,, department_name,, , manager_id,, , location_id

9. Write a Python program to create an object for writing and iterate over the rows to print the values.

In [ ]:
import csv
import sys
with open('temp.csv', 'wt') as file:
    writer = csv.writer(file)
    writer.writerow(('id1', 'id2', 'date'))
    for i in range(3):
        row = (
            i + 1,
            chr(ord('a') + i),
            '01/{:02d}/2019'.format(i + 1),)
        writer.writerow(row)
print(open('temp.csv', 'rt').read())

id1,id2,date
1,a,01/01/2019
2,b,01/02/2019
3,c,01/03/2019

10. Write a Python program to write a Python list of lists to a csv file. After writing the CSV file read the CSV file and display the content.

In [ ]:
import csv
data = [['cat','dog', 'kitten'], [1, 2, 3], [4, 5, 6], [7, 8, 9], [9, 11, 12]]
with open("temp.csv", "w", newline="") as file:
   writer = csv.writer(file)
   writer.writerows(data)
with open('temp.csv', newline='') as csvfile:
 data = csv.reader(csvfile, delimiter=' ')
 for row in data:
   print(', '.join(row))

cat,dog,kitten
1,2,3
4,5,6
7,8,9
9,11,12

11. Write a Python program to write a Python dictionary to a csv file. After writing the CSV file read the CSV file and display the content.

In [ ]:

import csv

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

csv_file = 'output.csv'

with open(csv_file, mode='w', newline='') as file:
    writer = csv.writer(file)

    writer.writerow(data.keys())

    rows = zip(*data.values())
    writer.writerows(rows)

print(f"Data written to {csv_file} successfully.")

with open(csv_file, mode='r') as file:
    reader = csv.reader(file)

    for row in reader:
        print(row)

Data written to output.csv successfully.
['Name', 'Age', 'City']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '35', 'Chicago']

1. Write a Python program to convert JSON data to Python object.

In [ ]:
import json
json_obj =  '{ "1":"2", "3":"4", "5":6 }'
python_obj = json.loads(json_obj)
print("\ndata")
print(python_obj)

data
{'1': '2', '3': '4', '5': 6}

2. Write a Python program to convert Python object to JSON data.

In [ ]:
import json
python_obj = {
  "name": "David",
  "class":"I",
  "age": 6
}
print(type(python_obj))
j_data = json.dumps(python_obj)

print(j_data)

<class 'dict'>
{"name": "David", "class": "I", "age": 6}

3. Write a Python program to convert Python objects into JSON strings. Print all the values.

In [ ]:
import json
python_dict =  {"color": "black", "age": 6, "type":"cat"}
python_list =  ["black", "red", "white"]
python_str =  "python Json"
python_int =  (1234)
python_float =  (21.34)
python_T =  (True)
python_F =  (False)
python_N =  (None)

json_dict = json.dumps(python_dict)
json_list = json.dumps(python_list)
json_str = json.dumps(python_str)
json_num1 = json.dumps(python_int)
json_num2 = json.dumps(python_float)
json_t = json.dumps(python_T)
json_f = json.dumps(python_F)
json_n = json.dumps(python_N)

print("json dict : ", json_dict)
print("jason list : ", json_list)
print("json string : ", json_str)
print("json number1 : ", json_num1)
print("json number2 : ", json_num2)
print("json true : ", json_t)
print("json false : ", json_f)
print("json null ; ", json_n)

json dict :  {"color": "black", "age": 6, "type": "cat"}
jason list :  ["black", "red", "white"]
json string :  "python Json"
json number1 :  1234
json number2 :  21.34
json true :  true
json false :  false
json null ;  null

4. Write a Python program to convert Python dictionary object (sort by key) to JSON data. Print the object members with indent level 4.

In [ ]:
import json
j_str = {'1': 2, '3': 4, '5': 6, '7': 8}
print("strs:")
print(j_str)
print("\nJdata:")
print(json.dumps(j_str, sort_keys=True, indent=4))

strs:
{'1': 2, '3': 4, '5': 6, '7': 8}

Jdata:
{
    "1": 2,
    "3": 4,
    "5": 6,
    "7": 8
}

5. Write a Python program to convert JSON encoded data into Python objects.

In [ ]:
import json

json_data_dict = '''
{
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "is_student": false,
    "courses": ["Math", "Science", "History"]
}
'''

json_data_list = '''
[1, 2, 3, 4, 5]
'''

json_data_string = '"Hello, World!"'

json_data_int = '42'

json_data_float = '3.14'

def convert_json_to_python(json_data):
    python_object = json.loads(json_data)
    return python_object

print("Python representation of dictionary:")
python_dict = convert_json_to_python(json_data_dict)
print(python_dict)

print("\nPython representation of list:")
python_list = convert_json_to_python(json_data_list)
print(python_list)

print("\nPython representation of string:")
python_string = convert_json_to_python(json_data_string)
print(python_string)

print("\nPython representation of integer:")
python_int = convert_json_to_python(json_data_int)
print(python_int)

print("\nPython representation of float:")
python_float = convert_json_to_python(json_data_float)
print(python_float)

Python representation of dictionary:
{'name': 'Alice', 'age': 30, 'city': 'New York', 'is_student': False, 'courses': ['Math', 'Science', 'History']}

Python representation of list:
[1, 2, 3, 4, 5]

Python representation of string:
Hello, World!

Python representation of integer:
42

Python representation of float:
3.14

6. Write a Python program to create a new JSON file from an existing JSON file.

In [ ]:
import json

with open('numberone.json') as f:
  state_data= json.load(f)

for state in state_data['states']:
  del state['area_codes']

with open('new_states.json', 'w') as f:
  json.dump(state_data, f, indent=2)

FileNotFoundError: [Errno 2] No such file or directory: 'states.json'

7. Write a Python program to check whether an instance is complex or not.

In [1]:
import json

def inst_complex(object):
    if isinstance(object, complex):
        return [object.real, object.imag]
    raise TypeError(repr(object) + "is not JSON serialized")

complex_obj = json.dumps(2 + 3j, default=encode_complex)
print(complex_obj)

NameError: name 'encode_complex' is not defined

8. Write a Python program to check whether a JSON string contains complex object or not.

In [2]:
import json
def is_complex_num(object):
    if 'complex' in objct:
        return complex(objct['real'], objct['img'])
    return objct

complex_object =json.loads('{"complex": true, "real": 4, "img": 5}', object_hook = is_complex_num)
simple_object =json.loads('{"real": 4, "img": 3}', object_hook = is_complex_num)
print("Complex_object: ",complex_object)
print("Without complex object: ",simple_object)

NameError: name 'objct' is not defined

9. Write a Python program to access only unique key value of a Python object.

In [4]:
import json
python_obj = '{"a":  1, "a":  2, "a":  3, "a": 4, "b": 1, "b": 2}'
print("Python object:")
print(python_obj)
json_obj = json.loads(python_obj)
print("\nunique key value in a json object:")
print(json_obj)

Python object:
{"a":  1, "a":  2, "a":  3, "a": 4, "b": 1, "b": 2}

unique key value in a json object:
{'a': 4, 'b': 2}